# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/server/pages/typing-practice.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/next.js
.next/static/chunks/_error.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/typing-practice.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/1cb82ddf35354ba1.webpack.hot-update.json
.next/static/webpack/1ee49bf5cb3f5f83.webpack.hot-update.json
.next/static/webpack/2d83bb5ca52c281b.webpack.hot-update.json
.next/static/webpack/3a399d2428e32c5a.webpack.hot-update.json
.next/static/webpack/4cc14fe36352bbd4.webpack.hot-update.json
.next/static/webpack/4de23a3d532c1902.webpack.hot-update.json
.next/static/webpack/5b567ef04ec38e14.webpack.hot-update.json
.next/static/webpack/7a02f6b500f0ea91.webpack.hot-update.json
.next/static/webpack/7b19d475d2f8058b.webpack.hot-update.json
.next/static/webpack/7ecb292dee369439.webpack.hot-update.json
.next/static/webpack/9a512e759c48b086.webpack.hot-update.json
.next/static/webpack/14a3691e815e0d83.webpack.hot-update.json
.next/static/webpack/16e788c623aabb09.webpack.hot-update.json
.next/static/webpack/31fe75df21e119c2.webpack.hot-update.json
.next/static/webpack/34d836124f2215b4.webpack.hot-update.json
.next/static/webpack/38f0b3f79f5b1a39.webpack.hot-update.json
.next/static/webpack/44f3fb8d4fa93c80.webpack.hot-update.json
.next/static/webpack/56c8288f8dece368.webpack.hot-update.json
.next/static/webpack/60b736d217507b0e.webpack.hot-update.json
.next/static/webpack/64b5a09849e2470a.webpack.hot-update.json
.next/static/webpack/76de6c922f4d93db.webpack.hot-update.json
.next/static/webpack/79ce351bcfe3676d.webpack.hot-update.json
.next/static/webpack/83aba6894d94bb57.webpack.hot-update.json
.next/static/webpack/96d5ca0043c02804.webpack.hot-update.json
.next/static/webpack/261a11a8ca86c5a0.webpack.hot-update.json
.next/static/webpack/494f77a1fff293ec.webpack.hot-update.json
.next/static/webpack/529af56d872053de.webpack.hot-update.json
.next/static/webpack/642be1c29407f7e1.webpack.hot-update.json
.next/static/webpack/678a602f636dbcc2.webpack.hot-update.json
.next/static/webpack/801b3d66f2dea7a3.webpack.hot-update.json
.next/static/webpack/2392bb034a4ddfda.webpack.hot-update.json
.next/static/webpack/2640c65737ced78d.webpack.hot-update.json
.next/static/webpack/3371ff99e0678954.webpack.hot-update.json
.next/static/webpack/4789c7dd0b3508cb.webpack.hot-update.json
.next/static/webpack/5508f51e77fb2b27.webpack.hot-update.json
.next/static/webpack/36407aaa17aac858.webpack.hot-update.json
.next/static/webpack/99032ec2b90a1a17.webpack.hot-update.json
.next/static/webpack/184582f85b10d5f1.webpack.hot-update.json
.next/static/webpack/486136af15ef0600.webpack.hot-update.json
.next/static/webpack/9674356c12607070.webpack.hot-update.json
.next/static/webpack/64385211dd6a30fc.webpack.hot-update.json
.next/static/webpack/79576985a5ea14f2.webpack.hot-update.json
.next/static/webpack/84827416c494926a.webpack.hot-update.json
.next/static/webpack/300368565c22f503.webpack.hot-update.json
.next/static/webpack/189747021957c5db.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a2e7c7b440205fb0.webpack.hot-update.json
.next/static/webpack/a03a6d6c80977a41.webpack.hot-update.json
.next/static/webpack/a8d6bbc1eda9152c.webpack.hot-update.json
.next/static/webpack/a49f3e86d5caea36.webpack.hot-update.json
.next/static/webpack/a291782c2473f7e6.webpack.hot-update.json
.next/static/webpack/acb753e5f26d9f1e.webpack.hot-update.json
.next/static/webpack/b1f3bd8bc151d815.webpack.hot-update.json
.next/static/webpack/b3e05765aa7ba6ff.webpack.hot-update.json
.next/static/webpack/b21a326432a8dc70.webpack.hot-update.json
.next/static/webpack/b000586e9465dafb.webpack.hot-update.json
.next/static/webpack/bb6fcbdf4d0329cd.webpack.hot-update.json
.next/static/webpack/bf016dcd760833f3.webpack.hot-update.json
.next/static/webpack/c2b846a723587d17.webpack.hot-update.json
.next/static/webpack/c4f7ab2187521468.webpack.hot-update.json
.next/static/webpack/c8ee028cc2cfa523.webpack.hot-update.json
.next/static/webpack/ccc45bca38c4406c.webpack.hot-update.json
.next/static/webpack/d6d469350f923a71.webpack.hot-update.json
.next/static/webpack/d9f4ef4ea5828452.webpack.hot-update.json
.next/static/webpack/dd85af5f9859c643.webpack.hot-update.json
.next/static/webpack/df8ac4470aa2e033.webpack.hot-update.json
.next/static/webpack/e0e30ee2148fff20.webpack.hot-update.json
.next/static/webpack/e0f430c46a541270.webpack.hot-update.json
.next/static/webpack/e21d04edfd0cfbd6.webpack.hot-update.json
.next/static/webpack/e7809c17d7db5fa2.webpack.hot-update.json
.next/static/webpack/edc4bef177b598c3.webpack.hot-update.json
.next/static/webpack/ef7a2c9508303e89.webpack.hot-update.json
.next/static/webpack/efae7e5010b21a74.webpack.hot-update.json
.next/static/webpack/f91d15fb136114ec.webpack.hot-update.json
.next/static/webpack/f425150dcdde9825.webpack.hot-update.json
.next/static/webpack/fc7474ec897ebac6.webpack.hot-update.json
.next/static/webpack/fd2a62ec9029bec8.webpack.hot-update.json
.next/static/webpack/ff62b134259647e4.webpack.hot-update.json
.next/static/webpack/webpack.1cb82ddf35354ba1.hot-update.js
.next/static/webpack/webpack.1ee49bf5cb3f5f83.hot-update.js
.next/static/webpack/webpack.2d83bb5ca52c281b.hot-update.js
.next/static/webpack/webpack.3a399d2428e32c5a.hot-update.js
.next/static/webpack/webpack.4cc14fe36352bbd4.hot-update.js
.next/static/webpack/webpack.4de23a3d532c1902.hot-update.js
.next/static/webpack/webpack.5b567ef04ec38e14.hot-update.js
.next/static/webpack/webpack.7a02f6b500f0ea91.hot-update.js
.next/static/webpack/webpack.7b19d475d2f8058b.hot-update.js
.next/static/webpack/webpack.7ecb292dee369439.hot-update.js
.next/static/webpack/webpack.9a512e759c48b086.hot-update.js
.next/static/webpack/webpack.14a3691e815e0d83.hot-update.js
.next/static/webpack/webpack.16e788c623aabb09.hot-update.js
.next/static/webpack/webpack.31fe75df21e119c2.hot-update.js
.next/static/webpack/webpack.34d836124f2215b4.hot-update.js
.next/static/webpack/webpack.38f0b3f79f5b1a39.hot-update.js
.next/static/webpack/webpack.44f3fb8d4fa93c80.hot-update.js
.next/static/webpack/webpack.56c8288f8dece368.hot-update.js
.next/static/webpack/webpack.60b736d217507b0e.hot-update.js
.next/static/webpack/webpack.64b5a09849e2470a.hot-update.js
.next/static/webpack/webpack.76de6c922f4d93db.hot-update.js
.next/static/webpack/webpack.79ce351bcfe3676d.hot-update.js
.next/static/webpack/webpack.83aba6894d94bb57.hot-update.js
.next/static/webpack/webpack.96d5ca0043c02804.hot-update.js
.next/static/webpack/webpack.261a11a8ca86c5a0.hot-update.js
.next/static/webpack/webpack.494f77a1fff293ec.hot-update.js
.next/static/webpack/webpack.529af56d872053de.hot-update.js
.next/static/webpack/webpack.642be1c29407f7e1.hot-update.js
.next/static/webpack/webpack.678a602f636dbcc2.hot-update.js
.next/static/webpack/webpack.801b3d66f2dea7a3.hot-update.js
.next/static/webpack/webpack.2392bb034a4ddfda.hot-update.js
.next/static/webpack/webpack.2640c65737ced78d.hot-update.js
.next/static/webpack/webpack.3371ff99e0678954.hot-update.js
.next/static/webpack/webpack.4789c7dd0b3508cb.hot-update.js
.next/static/webpack/webpack.5508f51e77fb2b27.hot-update.js
.next/static/webpack/webpack.36407aaa17aac858.hot-update.js
.next/static/webpack/webpack.99032ec2b90a1a17.hot-update.js
.next/static/webpack/webpack.184582f85b10d5f1.hot-update.js
.next/static/webpack/webpack.486136af15ef0600.hot-update.js
.next/static/webpack/webpack.9674356c12607070.hot-update.js
.next/static/webpack/webpack.64385211dd6a30fc.hot-update.js
.next/static/webpack/webpack.79576985a5ea14f2.hot-update.js
.next/static/webpack/webpack.84827416c494926a.hot-update.js
.next/static/webpack/webpack.300368565c22f503.hot-update.js
.next/static/webpack/webpack.189747021957c5db.hot-update.js
.next/static/webpack/webpack.a2e7c7b440205fb0.hot-update.js
.next/static/webpack/webpack.a03a6d6c80977a41.hot-update.js
.next/static/webpack/webpack.a8d6bbc1eda9152c.hot-update.js
.next/static/webpack/webpack.a49f3e86d5caea36.hot-update.js
.next/static/webpack/webpack.a291782c2473f7e6.hot-update.js
.next/static/webpack/webpack.acb753e5f26d9f1e.hot-update.js
.next/static/webpack/webpack.b1f3bd8bc151d815.hot-update.js
.next/static/webpack/webpack.b3e05765aa7ba6ff.hot-update.js
.next/static/webpack/webpack.b21a326432a8dc70.hot-update.js
.next/static/webpack/webpack.b000586e9465dafb.hot-update.js
.next/static/webpack/webpack.bb6fcbdf4d0329cd.hot-update.js
.next/static/webpack/webpack.bf016dcd760833f3.hot-update.js
.next/static/webpack/webpack.c2b846a723587d17.hot-update.js
.next/static/webpack/webpack.c4f7ab2187521468.hot-update.js
.next/static/webpack/webpack.c8ee028cc2cfa523.hot-update.js
.next/static/webpack/webpack.ccc45bca38c4406c.hot-update.js
.next/static/webpack/webpack.d6d469350f923a71.hot-update.js
.next/static/webpack/webpack.d9f4ef4ea5828452.hot-update.js
.next/static/webpack/webpack.dd85af5f9859c643.hot-update.js
.next/static/webpack/webpack.df8ac4470aa2e033.hot-update.js
.next/static/webpack/webpack.e0e30ee2148fff20.hot-update.js
.next/static/webpack/webpack.e0f430c46a541270.hot-update.js
.next/static/webpack/webpack.e21d04edfd0cfbd6.hot-update.js
.next/static/webpack/webpack.e7809c17d7db5fa2.hot-update.js
.next/static/webpack/webpack.edc4bef177b598c3.hot-update.js
.next/static/webpack/webpack.ef7a2c9508303e89.hot-update.js
.next/static/webpack/webpack.efae7e5010b21a74.hot-update.js
.next/static/webpack/webpack.f91d15fb136114ec.hot-update.js
.next/static/webpack/webpack.f425150dcdde9825.hot-update.js
.next/static/webpack/webpack.fc7474ec897ebac6.hot-update.js
.next/static/webpack/webpack.fd2a62ec9029bec8.hot-update.js
.next/static/webpack/webpack.ff62b134259647e4.hot-update.js
.next/static/webpack/pages/_app.261a11a8ca86c5a0.hot-update.js
.next/static/webpack/pages/_app.ef7a2c9508303e89.hot-update.js
.next/static/webpack/pages/_app.fd2a62ec9029bec8.hot-update.js
.next/static/webpack/pages/typing-practice.1cb82ddf35354ba1.hot-update.js
.next/static/webpack/pages/typing-practice.1ee49bf5cb3f5f83.hot-update.js
.next/static/webpack/pages/typing-practice.2d83bb5ca52c281b.hot-update.js
.next/static/webpack/pages/typing-practice.3a399d2428e32c5a.hot-update.js
.next/static/webpack/pages/typing-practice.4cc14fe36352bbd4.hot-update.js
.next/static/webpack/pages/typing-practice.4de23a3d532c1902.hot-update.js
.next/static/webpack/pages/typing-practice.5b567ef04ec38e14.hot-update.js
.next/static/webpack/pages/typing-practice.7a02f6b500f0ea91.hot-update.js
.next/static/webpack/pages/typing-practice.7b19d475d2f8058b.hot-update.js
.next/static/webpack/pages/typing-practice.7ecb292dee369439.hot-update.js
.next/static/webpack/pages/typing-practice.9a512e759c48b086.hot-update.js
.next/static/webpack/pages/typing-practice.14a3691e815e0d83.hot-update.js
.next/static/webpack/pages/typing-practice.16e788c623aabb09.hot-update.js
.next/static/webpack/pages/typing-practice.31fe75df21e119c2.hot-update.js
.next/static/webpack/pages/typing-practice.34d836124f2215b4.hot-update.js
.next/static/webpack/pages/typing-practice.38f0b3f79f5b1a39.hot-update.js
.next/static/webpack/pages/typing-practice.44f3fb8d4fa93c80.hot-update.js
.next/static/webpack/pages/typing-practice.56c8288f8dece368.hot-update.js
.next/static/webpack/pages/typing-practice.60b736d217507b0e.hot-update.js
.next/static/webpack/pages/typing-practice.64b5a09849e2470a.hot-update.js
.next/static/webpack/pages/typing-practice.76de6c922f4d93db.hot-update.js
.next/static/webpack/pages/typing-practice.79ce351bcfe3676d.hot-update.js
.next/static/webpack/pages/typing-practice.83aba6894d94bb57.hot-update.js
.next/static/webpack/pages/typing-practice.96d5ca0043c02804.hot-update.js
.next/static/webpack/pages/typing-practice.261a11a8ca86c5a0.hot-update.js
.next/static/webpack/pages/typing-practice.494f77a1fff293ec.hot-update.js
.next/static/webpack/pages/typing-practice.529af56d872053de.hot-update.js
.next/static/webpack/pages/typing-practice.642be1c29407f7e1.hot-update.js
.next/static/webpack/pages/typing-practice.678a602f636dbcc2.hot-update.js
.next/static/webpack/pages/typing-practice.801b3d66f2dea7a3.hot-update.js
.next/static/webpack/pages/typing-practice.2392bb034a4ddfda.hot-update.js
.next/static/webpack/pages/typing-practice.2640c65737ced78d.hot-update.js
.next/static/webpack/pages/typing-practice.3371ff99e0678954.hot-update.js
.next/static/webpack/pages/typing-practice.4789c7dd0b3508cb.hot-update.js
.next/static/webpack/pages/typing-practice.5508f51e77fb2b27.hot-update.js
.next/static/webpack/pages/typing-practice.99032ec2b90a1a17.hot-update.js
.next/static/webpack/pages/typing-practice.486136af15ef0600.hot-update.js
.next/static/webpack/pages/typing-practice.9674356c12607070.hot-update.js
.next/static/webpack/pages/typing-practice.64385211dd6a30fc.hot-update.js
.next/static/webpack/pages/typing-practice.79576985a5ea14f2.hot-update.js
.next/static/webpack/pages/typing-practice.84827416c494926a.hot-update.js
.next/static/webpack/pages/typing-practice.300368565c22f503.hot-update.js
.next/static/webpack/pages/typing-practice.189747021957c5db.hot-update.js
.next/static/webpack/pages/typing-practice.a2e7c7b440205fb0.hot-update.js
.next/static/webpack/pages/typing-practice.a03a6d6c80977a41.hot-update.js
.next/static/webpack/pages/typing-practice.a8d6bbc1eda9152c.hot-update.js
.next/static/webpack/pages/typing-practice.a49f3e86d5caea36.hot-update.js
.next/static/webpack/pages/typing-practice.a291782c2473f7e6.hot-update.js
.next/static/webpack/pages/typing-practice.acb753e5f26d9f1e.hot-update.js
.next/static/webpack/pages/typing-practice.b1f3bd8bc151d815.hot-update.js
.next/static/webpack/pages/typing-practice.b3e05765aa7ba6ff.hot-update.js
.next/static/webpack/pages/typing-practice.b21a326432a8dc70.hot-update.js
.next/static/webpack/pages/typing-practice.b000586e9465dafb.hot-update.js
.next/static/webpack/pages/typing-practice.bb6fcbdf4d0329cd.hot-update.js
.next/static/webpack/pages/typing-practice.bf016dcd760833f3.hot-update.js
.next/static/webpack/pages/typing-practice.c2b846a723587d17.hot-update.js
.next/static/webpack/pages/typing-practice.c4f7ab2187521468.hot-update.js
.next/static/webpack/pages/typing-practice.c8ee028cc2cfa523.hot-update.js
.next/static/webpack/pages/typing-practice.ccc45bca38c4406c.hot-update.js
.next/static/webpack/pages/typing-practice.d6d469350f923a71.hot-update.js
.next/static/webpack/pages/typing-practice.d9f4ef4ea5828452.hot-update.js
.next/static/webpack/pages/typing-practice.dd85af5f9859c643.hot-update.js
.next/static/webpack/pages/typing-practice.df8ac4470aa2e033.hot-update.js
.next/static/webpack/pages/typing-practice.e0e30ee2148fff20.hot-update.js
.next/static/webpack/pages/typing-practice.e0f430c46a541270.hot-update.js
.next/static/webpack/pages/typing-practice.e21d04edfd0cfbd6.hot-update.js
.next/static/webpack/pages/typing-practice.e7809c17d7db5fa2.hot-update.js
.next/static/webpack/pages/typing-practice.edc4bef177b598c3.hot-update.js
.next/static/webpack/pages/typing-practice.ef7a2c9508303e89.hot-update.js
.next/static/webpack/pages/typing-practice.efae7e5010b21a74.hot-update.js
.next/static/webpack/pages/typing-practice.f91d15fb136114ec.hot-update.js
.next/static/webpack/pages/typing-practice.f425150dcdde9825.hot-update.js
.next/static/webpack/pages/typing-practice.fc7474ec897ebac6.hot-update.js
.next/static/webpack/pages/typing-practice.fd2a62ec9029bec8.hot-update.js
.next/static/webpack/pages/typing-practice.ff62b134259647e4.hot-update.js
